
    <body>
        
        <div class="container-frame" row justify-content-center mt-5>
            <div class="row justify-content-center mt-5">
                <div class="container-img">
                    <img src="../../../assets/images/advertencia.png" class="imgadvertencia">
                </div>
    
                <header>
                    <h1>INGRESAR ALERTA</h1>
                </header>
                

                <div class="container-alerta">
                    <textarea class="caja-alerta" rows="5" placeholder="Describir suceso o amenaza que se haya
encontrado para informar a la comunidad"></textarea>
                    
                </div>

                <div class="boton">
                    <input type="submit" value="Enviar" />
                </div>

                <div class="container-mensaje">
                    <p>Número de contacto para realizar denuncias:</p>
                    <p>800 320 032, disponible de 08:00 a 23:59</p>
                </div>

            </div>
        </div>
            

        <script src="" async defer></script>
    </body>
