<head><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<div class="container" style="max-width: 1400px;">
            
    <br>
    <div class="">
        <ol>
        <div class="bienvenidaForo">
            
            Hola! <br>
            En esta seccion puedes compartir ideas,consejos y <br>
            pensamientos que quieras compartir con otros
        </div>
        <br>
        
        <button type="button" class="btn btn-primary">Añadir nuevo tema de discusión</button>
        </ol>


        
        <div class="encabezadoSubForo">

            <div class="discusion">
                Discusión
            </div>
            <div class="autorForo">
                Comenzado Por
            </div>
            <div class="numeroRespuestas">
               Replicas
            </div>
            <div class="EncabezadoUltimaRespuesta">
                Ultima respuesta por
            </div>
         </div>

         <br>
             <div class="filaSubForo">

                <div class="Nombre tema estiloColumna">
                    Bombillas de plástico
                </div>
                <div class="autorSubForo estiloColumna">
                    <span class="material-symbols-outlined">
                        Person
                    </span>
                    Fernanda Campos
                </div>
                <div class="respuestas a foro estiloColumna">
                    0
                </div>
                <div class="ultimaRespuesta estiloColumna">
                    Fernanda Campos <br>
                    mier,6 de sep de 2023, 17:52
                </div>
             </div>

             <div class="filaSubForo">

                <div class="Nombre tema estiloColumna">
                    Bienvenida
                </div>
                <div class="autorSubForo estiloColumna">
                    <span class="material-symbols-outlined">
                        Person
                    </span>
                    Danilo García
                </div>
                <div class="respuestas a foro estiloColumna">
                    1
                </div>
                <div class="ultimaRespuesta estiloColumna">
                
                    José Antonio López
                    mier, 6 de sep de 2023,15:31
                </div>
             </div>

             <div class="filaSubForo">

                <div class="Nombre tema estiloColumna">
                    Delfines avistados 
                </div>
                <div class="autorSubForo estiloColumna">
                    <span class="material-symbols-outlined">
                        Person
                    </span>
                    Franco Lazo
                </div>
                <div class="respuestas a foro estiloColumna">
                    0
                </div>
                <div class="ultimaRespuesta estiloColumna">
                    Franco Lazo <br>
                    mar, 5 de sep de 2023, 08:03
                </div>
             </div>

             <div class="filaSubForo">

                <div class="Nombre tema estiloColumna">
                    <a class="nav-link" routerLink = "/noticia">Mar</a>
                </div>
                <div class="autorSubForo estiloColumna">
                    <span class="material-symbols-outlined">
                        Person
                    </span>
                    Jorge Mora
                </div>
                <div class="respuestas a foro estiloColumna">
                    0
                </div>
                <div class="ultimaRespuesta estiloColumna">
                    Jorge Mora <br>
                    lun, 4 de sep de 2023, 10:40
                </div>
             </div>

        
    </div>
</div>