<div class="container" style="max-width: 500px;">
    <div class="row justify-content-center mt-4 mb-3">
      <div class="col-md-6 text-center">
        <img src="../../../assets/images/ballena.png" alt="Logo de la empresa" class="logo mb-3">
        <h1 class="mb-3">Inicia sesión</h1>
        <form class="needs-validation" novalidate>
          <div class="mb-3">
            <input type="text" class="form-control" id="nombreUsuario" placeholder="Nombre de Usuario" aria-label="Nombre de Usuario" name="nombreUsuario" required>
          </div>
      
          <div class="mb-3">
            <input type="password" class="form-control" id="contraseña" placeholder="Contraseña" aria-label="Contraseña" name="contraseña" required>
          </div>
          <button type="submit" class="btn btn-primary  mb-3 mt-3 justify-content-center">Iniciar sesión</button>
        </form>
    </div>
  </div>
