<div class="container-frame">
    <div class="container-img">
        <img src="../../../assets/images/noticias.png" class="imgnoticia">
    </div>

    <h1>Crear noticia</h1>

    <div>
        <input type="text" id="titulo" name="titulo" class="container-titulo" placeholder="Título" required>
    </div>

    <div>
        <input type="text" id="temática" name="temática" class="container-tematica" placeholder="Temática" required>
    </div>

    <div>
        <textarea type="text" id="cuerpo" name="cuerpo" rows="4" class="container-cuerpo" placeholder="Cuerpo de la noticia" required></textarea>
    </div>

    <br>
    <br>

    <div class="container-img2">
        <img src="../../../assets/images/clip-de-papel.png" class="imgclip">
        
                        
    </div>

    <div>
        <button class="boton-adjuntarimg">Insertar imágen</button>
        <button class="boton-enviar">Enviar noticia</button>
    </div>
    
    

</div>