<main>
    <img src="../../../assets/images/fondo-del-mar.png" class="imgFondoMar">
    <section>
        <h2>Amantes de la vida marina</h2>
        <p>La vida marina es diversa y fascinante. Explora los océanos y descubre una amplia variedad de especies, desde los peces más coloridos hasta las majestuosas ballenas.</p>
    </section>
    <section>
        <h2>Mantente al día del oceano</h2>
        <p>Con nuestras diferentes secciones, podras mantenerte al día de todo lo que está pasando en tus sectores, puedes discutir con gente nueva o inclusive avisar de problemas.</p>
    </section>
    <section>
        <h2>Revisa las secciones</h2>
        <p>En la barra de navegación, podrás encontrar enlaces para interactuar con la comunidad. ¡¡ Anímate a hacerlo !!</p>
    </section>
</main>